# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Environment variables
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation to ignore
docs.txt

# Project Database should NEVER be on GitHub Repo
database/
database.db
